.description {
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 0;
}

.description-with-me {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
}

.description-with-me .text {
    max-width: 900px;
}

.description-with-me img {
    width: 150px;
    height: fit-content;
    margin: auto 20px;
    border: 5px solid rgba(215, 222, 255, 0.5);
}

.description-with-logos {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.description-with-logos p {
    width: 500px;
    line-height: 120%;
}

.title, .logo {
    transition-duration: 1s;
}

.title:hover, .title.highlighted {
    color: rgb(242, 223, 255);
    text-shadow:
        2px 2px 2px rgb(88, 127, 186),
        -2px -2px 2px rgb(88, 127, 186);
}

.grid-of-logos {
    margin-right: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    width: 500px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    padding: 10px;
}

.logo:hover, .logo.highlighted {
    background-color: rgba(88, 127, 186, 0.5);
    box-shadow: 0 0 8px 2px rgba(88, 127, 186);
}

.logo img {
    width: 140px;
}

.logo.nissan img {
    width: 100px;
}

.partnership {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.partnership h2 {
    padding: 5px;
}

.contacts {
    margin-left: 10px;
    border: 2px solid black;
    padding: 10px;
    font-size: larger;
}